 <head>
  <title>VIRTGAL-FM</title>
  <meta name="description" content="Welcome to Virtual Galleria FM.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="/fujisaki.gif">
  <meta http-equiv="Refresh" content="0; url='http://vgfm.virtualgalleria.net'" />
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/favicon.gif" type="image/gif">
  </head>
